        * {
            margin: 0px;
            padding: 0px;
        }

        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: rgb(5, 51, 50);
            padding: 20px;
        }

        h1 {
            color: white;
            margin: 80px 0px 30px 0px;
        }

        .game {
            display: grid;
            grid-template-columns: repeat(3, 100px);
            grid-gap: 10px;
            justify-content: center;
            margin-bottom: 20px;
        }

        .btn {
            width: 100px;
            height: 100px;
            font-size: 2rem;
            cursor: pointer;
            border-radius: 10px;
            border: 2px solid #333;
            transition: background-color 0.2s, transform 0.1s;
        }

        .btn:hover {
            background-color: #ece9e9;
            transform: scale(1.01);
        }

        /* Reset button */
        #reset {
            padding: 10px 20px;
            font-size: 1rem;
            cursor: pointer;
            border-radius: 5px;
            border: none;
            background-color: #a12d2d;
            color: #fff;
        }

        #reset:hover {
            background-color: #bb2424;
        }

        /* responsive */

        @media (max-width: 500px) {
            .game {
                grid-template-columns: repeat(3, 70px);
                grid-gap: 8px;
            }

            .btn {
                width: 70px;
                height: 70px;
                font-size: 1.5rem;
            }
        }